body {
    font-family: Verdana,sans-serif;
    font-size: 1.2em;
}

header, footer {
    padding: 12px;
    color: white;
    background-color: black;
}
footer {
    color: maroon;
}

section {
    margin: 6px;
    padding: 12px;
    background-color: lightgrey;
}
.BestTreat {
    color: blueviolet;
}

article {
    margin: 6px;
    padding: 12px;
    background-color: white;
}

nav ul {
    padding: 0;
    color: blue;
}

nav ul li {
    display: inline;
    margin: 8px;
}
